.busline {
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #242328;
    color: #fff;
    margin: 20px 60px 10px 60px;
    display: flex;
    padding: 0 0 0 40px;
    
}

/* .busline h1 {
    font-size: 3.5rem;
} */

.busline .busline-direction {
    /* vertical-align: center; */
    font-size: 2rem;
    margin-left: 200px;
}

.busline .busline-time {
    /* position: sticky; */
    position: absolute;
    right: 100px;
    margin-left: 100px;
    font-size: 2.5rem;
}

.ZTM-header {
    display: flex;
    justify-content: center;
}

.ZTM-header .ZTM-header-name {
    margin-right: 50px;
}