.layout-footer {
    background-color: #242328;
    /* display: flex; */
    color: #fff;
    padding: 10px 10px;
    height: 68px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    font-family: 'Bitter', serif;
    
  }
  
  .layout-footer img {
    margin-top: 10px;
  }
  
  .layout-footer time {
    margin-left: 10px;
    bottom: 23px;
    position: fixed;
  }