.layout-footer {
  background-color: #242328;
  /* position: absolute; */
  bottom: 0;
  /* display: flex; */
  color: #fff;
  /*height: 68px;*/
  text-align: center;
  vertical-align: middle;
  /* justify-content: middle; */
  font-size: 2rem;
  font-family: 'Bitter', serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 88px;
}

.layout-footer img {
  margin-top: 15px;
  height: 50px;
}

.layout-footer time {
  font-family: 'Courier New', Courier, monospace; 
  margin-left: 10px;
  margin-top: 25px;
  /*bottom: 20px; */
  /* position: fixed; */
}